# Model 1

### Dataset contains different feauters for finding whether the web page is phishing or not using Machine learning algorithms

## Imported needed packages

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

## Loaded data

In [ ]:
df=pd.read_csv("dataset1.csv")
df.head()

       URL  URL_LENGTH  ...  DNS_QUERY_TIMES Type
0   M0_109          16  ...              2.0    1
1  B0_2314          16  ...              0.0    0
2   B0_911          16  ...              0.0    0
3   B0_113          17  ...              8.0    0
4   B0_403          17  ...              4.0    0

[5 rows x 21 columns]

In [ ]:
df.shape

(1781, 21)

## Describing of data

In [ ]:
df.describe()

        URL_LENGTH  NUMBER_SPECIAL_CHARACTERS  ...  DNS_QUERY_TIMES         Type
count  1781.000000                1781.000000  ...      1780.000000  1781.000000
mean     56.961258                  11.111735  ...         2.263483     0.121280
std      27.555586                   4.549896  ...         2.930853     0.326544
min      16.000000                   5.000000  ...         0.000000     0.000000
25%      39.000000                   8.000000  ...         0.000000     0.000000
50%      49.000000                  10.000000  ...         0.000000     0.000000
75%      68.000000                  13.000000  ...         4.000000     0.000000
max     249.000000                  43.000000  ...        20.000000     1.000000

[8 rows x 14 columns]

## Finding null values

In [ ]:
df.isna().sum()

URL                            0
URL_LENGTH                     0
NUMBER_SPECIAL_CHARACTERS      0
CHARSET                        0
SERVER                         1
CONTENT_LENGTH               812
WHOIS_COUNTRY                  0
WHOIS_STATEPRO                 0
WHOIS_REGDATE                  0
WHOIS_UPDATED_DATE             0
TCP_CONVERSATION_EXCHANGE      0
DIST_REMOTE_TCP_PORT           0
REMOTE_IPS                     0
APP_BYTES                      0
SOURCE_APP_PACKETS             0
REMOTE_APP_PACKETS             0
SOURCE_APP_BYTES               0
REMOTE_APP_BYTES               0
APP_PACKETS                    0
DNS_QUERY_TIMES                1
Type                           0
dtype: int64

## Filling null values

In [ ]:
df['CONTENT_LENGTH'].fillna(df['CONTENT_LENGTH'].mean(), inplace=True)
df['DNS_QUERY_TIMES'].fillna(df['DNS_QUERY_TIMES'].mode()[0], inplace=True)
df.isnull().sum()

URL                          0
URL_LENGTH                   0
NUMBER_SPECIAL_CHARACTERS    0
CHARSET                      0
SERVER                       1
CONTENT_LENGTH               0
WHOIS_COUNTRY                0
WHOIS_STATEPRO               0
WHOIS_REGDATE                0
WHOIS_UPDATED_DATE           0
TCP_CONVERSATION_EXCHANGE    0
DIST_REMOTE_TCP_PORT         0
REMOTE_IPS                   0
APP_BYTES                    0
SOURCE_APP_PACKETS           0
REMOTE_APP_PACKETS           0
SOURCE_APP_BYTES             0
REMOTE_APP_BYTES             0
APP_PACKETS                  0
DNS_QUERY_TIMES              0
Type                         0
dtype: int64

In [ ]:
df.dropna(inplace=True)

In [ ]:
df.isnull().sum()

URL                          0
URL_LENGTH                   0
NUMBER_SPECIAL_CHARACTERS    0
CHARSET                      0
SERVER                       0
CONTENT_LENGTH               0
WHOIS_COUNTRY                0
WHOIS_STATEPRO               0
WHOIS_REGDATE                0
WHOIS_UPDATED_DATE           0
TCP_CONVERSATION_EXCHANGE    0
DIST_REMOTE_TCP_PORT         0
REMOTE_IPS                   0
APP_BYTES                    0
SOURCE_APP_PACKETS           0
REMOTE_APP_PACKETS           0
SOURCE_APP_BYTES             0
REMOTE_APP_BYTES             0
APP_PACKETS                  0
DNS_QUERY_TIMES              0
Type                         0
dtype: int64

In [ ]:
df.shape

(1780, 21)

In [ ]:
df=df.drop(['URL', 'CHARSET', 'SERVER', 'WHOIS_COUNTRY', 'WHOIS_STATEPRO','WHOIS_REGDATE', 'WHOIS_UPDATED_DATE' ], axis="columns")
df.head()

   URL_LENGTH  NUMBER_SPECIAL_CHARACTERS  ...  DNS_QUERY_TIMES  Type
0          16                          7  ...              2.0     1
1          16                          6  ...              0.0     0
2          16                          6  ...              0.0     0
3          17                          6  ...              8.0     0
4          17                          6  ...              4.0     0

[5 rows x 14 columns]

In [ ]:
X = df.drop(['Type'], axis="columns")
X.head()

   URL_LENGTH  NUMBER_SPECIAL_CHARACTERS  ...  APP_PACKETS  DNS_QUERY_TIMES
0          16                          7  ...            9              2.0
1          16                          6  ...           17              0.0
2          16                          6  ...            0              0.0
3          17                          6  ...           39              8.0
4          17                          6  ...           61              4.0

[5 rows x 13 columns]

In [ ]:
Y = df['Type']
Y.head()

0    1
1    0
2    0
3    0
4    0
Name: Type, dtype: int64

## Splitting data

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2)

## Training the model and finding the score

In [ ]:
rfc = RandomForestClassifier()
rfc.fit(X_train, Y_train)
rfc.score(X_test, Y_test)

0.9606741573033708