### Two data sets of phishing websites and legimit websites Extrcting feauters from the urls and Predicting phising websites using machine learning algorithms

In [ ]:
import pandas as pd
import numpy as np

## Loaded data

In [ ]:
data1=pd.read_csv("Benign_list_big_final.csv")
data2=pd.read_csv("online-valid.csv")
data1.columns = ['url']
data1["label"]=0
data1.head()

                                                 url  label
0  http://1337x.to/torrent/1110018/Blackhat-2015-...      0
1  http://1337x.to/torrent/1122940/Blackhat-2015-...      0
2  http://1337x.to/torrent/1124395/Fast-and-Furio...      0
3  http://1337x.to/torrent/1145504/Avengers-Age-o...      0
4  http://1337x.to/torrent/1160078/Avengers-age-o...      0

In [ ]:
data2["label"]=1
data2=data2[['url','label']]
data2.head()

                                                 url  label
0  http://u1047531.cp.regruhosting.ru/acces-inges...      1
1  http://hoysalacreations.com/wp-content/plugins...      1
2  http://www.accsystemprblemhelp.site/checkpoint...      1
3  http://www.accsystemprblemhelp.site/login_atte...      1
4  https://firebasestorage.googleapis.com/v0/b/so...      1

## Combining two datas

In [ ]:
df=pd.concat([data1,data2])
df.shape

(50235, 2)

In [ ]:
df.reset_index(drop=True)

                                                     url  label
0      http://1337x.to/torrent/1110018/Blackhat-2015-...      0
1      http://1337x.to/torrent/1122940/Blackhat-2015-...      0
2      http://1337x.to/torrent/1124395/Fast-and-Furio...      0
3      http://1337x.to/torrent/1145504/Avengers-Age-o...      0
4      http://1337x.to/torrent/1160078/Avengers-age-o...      0
...                                                  ...    ...
50230                http://bancoestado700.blogspot.com/      1
50231       http://www.habbocreditosparati.blogspot.com/      1
50232  http://creditiperhabbogratissicuro100.blogspot...      1
50233  http://mundovirtualhabbo.blogspot.com/2009_01_...      1
50234  http://aijcs.blogspot.com/2005/03/colourful-li...      1

[50235 rows x 2 columns]

In [ ]:
from urllib.parse import urlparse,urlencode
import urllib.request
import ipaddress
import re

## Adding properties for each row of url

In [ ]:
def getDomain(url): 
  domain = urlparse(url).netloc
  return domain

In [ ]:
df['domain']=df['url'].apply(getDomain)
df.head()

                                                 url  label    domain
0  http://1337x.to/torrent/1110018/Blackhat-2015-...      0  1337x.to
1  http://1337x.to/torrent/1122940/Blackhat-2015-...      0  1337x.to
2  http://1337x.to/torrent/1124395/Fast-and-Furio...      0  1337x.to
3  http://1337x.to/torrent/1145504/Avengers-Age-o...      0  1337x.to
4  http://1337x.to/torrent/1160078/Avengers-age-o...      0  1337x.to

In [ ]:
def havingIP(url):
  try:
    ipaddress.ip_address(url)
    ip = 1
  except:
    ip = 0
  return ip

In [ ]:
df['having_ip']=df['url'].apply(havingIP)
df.head()

                                                 url  ...  having_ip
0  http://1337x.to/torrent/1110018/Blackhat-2015-...  ...          0
1  http://1337x.to/torrent/1122940/Blackhat-2015-...  ...          0
2  http://1337x.to/torrent/1124395/Fast-and-Furio...  ...          0
3  http://1337x.to/torrent/1145504/Avengers-Age-o...  ...          0
4  http://1337x.to/torrent/1160078/Avengers-age-o...  ...          0

[5 rows x 4 columns]

In [ ]:
def getLength(url):
  if len(url) < 54:
    length = 0            
  else:
    length = 1            
  return length

In [ ]:
df['lenUrl']=df['url'].apply(getLength)
df.head()

                                                 url  label  ... having_ip  lenUrl
0  http://1337x.to/torrent/1110018/Blackhat-2015-...      0  ...         0       1
1  http://1337x.to/torrent/1122940/Blackhat-2015-...      0  ...         0       1
2  http://1337x.to/torrent/1124395/Fast-and-Furio...      0  ...         0       1
3  http://1337x.to/torrent/1145504/Avengers-Age-o...      0  ...         0       1
4  http://1337x.to/torrent/1160078/Avengers-age-o...      0  ...         0       1

[5 rows x 5 columns]

In [ ]:
def have_char(url):
  list=[ "/", "%","#","&",".","=","@"]
  n=0
  for i in range(6):
    n=n+url.count(list[i])
  return n

In [ ]:
df['chars']=df['url'].apply(have_char)
df.head()

                                                 url  label  ... lenUrl  chars
0  http://1337x.to/torrent/1110018/Blackhat-2015-...      0  ...      1      7
1  http://1337x.to/torrent/1122940/Blackhat-2015-...      0  ...      1      7
2  http://1337x.to/torrent/1124395/Fast-and-Furio...      0  ...      1      7
3  http://1337x.to/torrent/1145504/Avengers-Age-o...      0  ...      1      7
4  http://1337x.to/torrent/1160078/Avengers-age-o...      0  ...      1      7

[5 rows x 6 columns]

In [ ]:
def getDepth(url):
  s = urlparse(url).path.split('/')
  depth = 0
  for j in range(len(s)):
    if len(s[j]) != 0:
      depth = depth+1
  return depth

In [ ]:
df['depth']=df['url'].apply(getDepth)
df.head()

                                                 url  label  ... chars  depth
0  http://1337x.to/torrent/1110018/Blackhat-2015-...      0  ...     7      3
1  http://1337x.to/torrent/1122940/Blackhat-2015-...      0  ...     7      3
2  http://1337x.to/torrent/1124395/Fast-and-Furio...      0  ...     7      3
3  http://1337x.to/torrent/1145504/Avengers-Age-o...      0  ...     7      3
4  http://1337x.to/torrent/1160078/Avengers-age-o...      0  ...     7      3

[5 rows x 7 columns]

In [ ]:
def redirection(url):
  pos = url.rfind('//')
  return pos

In [ ]:
df['redirection']=df['url'].apply(redirection)
df.head()

                                                 url  label  ... depth  redirection
0  http://1337x.to/torrent/1110018/Blackhat-2015-...      0  ...     3            5
1  http://1337x.to/torrent/1122940/Blackhat-2015-...      0  ...     3            5
2  http://1337x.to/torrent/1124395/Fast-and-Furio...      0  ...     3            5
3  http://1337x.to/torrent/1145504/Avengers-Age-o...      0  ...     3            5
4  http://1337x.to/torrent/1160078/Avengers-age-o...      0  ...     3            5

[5 rows x 8 columns]

In [ ]:
def getProtocol(url):
  domain = urlparse(url).netloc
  if 'https' in domain:
    return 1
  else:
    return 0

In [ ]:
df['protocol']=df['url'].apply(getProtocol)
df.head()

                                                 url  ...  protocol
0  http://1337x.to/torrent/1110018/Blackhat-2015-...  ...         0
1  http://1337x.to/torrent/1122940/Blackhat-2015-...  ...         0
2  http://1337x.to/torrent/1124395/Fast-and-Furio...  ...         0
3  http://1337x.to/torrent/1145504/Avengers-Age-o...  ...         0
4  http://1337x.to/torrent/1160078/Avengers-age-o...  ...         0

[5 rows x 9 columns]

In [ ]:
df.isnull().sum()

url            0
label          0
domain         0
having_ip      0
lenUrl         0
chars          0
depth          0
redirection    0
protocol       0
dtype: int64

In [ ]:
def shortUrl(url):
  o=1
  try:
    if urllib.request.urlopen(url) == url:
      o=0
  except:
    o=1   
  return o

### Takes more time

In [ ]:
#df['shorten']=df['url'].apply(shortUrl)
#df

In [ ]:
def getprefixSuffix(url):
    if '-' in urlparse(url).netloc:
        return 1
    else:
        return 0

In [ ]:
df['prefix/suffix']=df['url'].apply(getprefixSuffix)
df.head()

                                                 url  ...  prefix/suffix
0  http://1337x.to/torrent/1110018/Blackhat-2015-...  ...              0
1  http://1337x.to/torrent/1122940/Blackhat-2015-...  ...              0
2  http://1337x.to/torrent/1124395/Fast-and-Furio...  ...              0
3  http://1337x.to/torrent/1145504/Avengers-Age-o...  ...              0
4  http://1337x.to/torrent/1160078/Avengers-age-o...  ...              0

[5 rows x 10 columns]

In [ ]:
def forwarding(url):
  try:
    response = requests.get(url)
  except:
    response = ""
  if response == "":
    return 1
  else:
    if len(response.history) <= 2:
      return 0
    else:
      return 1

In [ ]:
df['NoOfForwards']=df['url'].apply(forwarding)
df.head()

                                                 url  ...  NoOfForwards
0  http://1337x.to/torrent/1110018/Blackhat-2015-...  ...             1
1  http://1337x.to/torrent/1122940/Blackhat-2015-...  ...             1
2  http://1337x.to/torrent/1124395/Fast-and-Furio...  ...             1
3  http://1337x.to/torrent/1145504/Avengers-Age-o...  ...             1
4  http://1337x.to/torrent/1160078/Avengers-age-o...  ...             1

[5 rows x 11 columns]

In [ ]:
df = df.sample(frac=1).reset_index(drop=True)

In [ ]:
df.shape

(50235, 11)

In [ ]:
df=df.drop(['url','domain'], axis = 1)

In [ ]:
X =df.drop('label',axis=1)
Y = df['label']
print(X)
print(Y)

       having_ip  lenUrl  chars  ...  protocol  prefix/suffix  NoOfForwards
0              0       1      5  ...         0              0             1
1              0       1     11  ...         0              0             1
2              0       1     18  ...         0              0             1
3              0       1     15  ...         0              0             1
4              0       1      5  ...         0              0             1
...          ...     ...    ...  ...       ...            ...           ...
50230          0       1      7  ...         0              0             1
50231          0       0      4  ...         0              0             1
50232          0       1      7  ...         0              0             1
50233          0       1      6  ...         0              0             1
50234          0       1     12  ...         0              0             1

[50235 rows x 8 columns]
0        0
1        0
2        1
3        0
4        0
        ..
50230    0
50231    1
50232    0
50233    0
50234    1
Name: label, Length: 50235, dtype: int64

## Splitting the data for train and test

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, random_state = 60)

## Predicting using random forest classifier

In [ ]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier()
rfc.fit(X_train, Y_train)
rfc.score(X_test, Y_test)

0.926246640788295

In [ ]:
rfc1 = RandomForestClassifier()
rfc1.fit(X,Y)
url1="https://ecyxzqepqgyhupxeadagdtyesyyngrjzteftptbp.ymxjv7.shop/wctx1D1DFxFDg.do.php"
X1=np.array([[havingIP(url1),getLength(url1),have_char(url1),getDepth(url1),redirection(url1),getProtocol(url1),getprefixSuffix(url1),forwarding(url1)]])
rfc1.predict(X1)

array([1])